<footer class="bajaj-footer bg-dark text-light mt-4">
  <div class="container-fluid">
    <div class="text-center py-2">
      <a href="#">Back to top</a>
    </div>
    <div class="row py-4 gy-3">
      <div class="col-12 col-md-4">
        <h6>About</h6>
        <p class="text-secondary small mb-0">BajajShop is a demo storefront for training.</p>
      </div>
      <div class="col-6 col-md-4">
        <h6>Support</h6>
        <ul class="list-unstyled text-secondary small">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Shipping</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4">
        <h6>Follow</h6>
        <div class="text-secondary small">Twitter • Instagram • YouTube</div>
      </div>
    </div>
    <div class="border-top border-secondary text-center py-3 small text-secondary">
      © {{ currentYear }} BajajShop

    </div>
  </div>
</footer>
